[submodule "Seattle-LibMS"]
	path = Seattle-LibMS
	url = https://github.com/allenwang-git/Seattle-LibMS.git
[submodule "seattle_turtlebot_nav_ros"]
	path = seattle_turtlebot_nav_ros
	url = https://github.com/allenwang-git/seattle_turtlebot_nav_ros.git
